* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  line-height: 3;
  width: 100%;
}

header {
  width: 100%;
  background-image: url("./images/IMG_20180821Hawaii.jpg");

  background-size: cover;
}

#heropic {
  width: 100%;
}
header * {
  z-index: 99;
}

header ul {
  padding: 5px;
  display: flex;
}

header li {
  margin-left: 20px;
  list-style-type: none;
}

section {
  height: 50vh;

  border: 1px solid black;

  display: flex;

  justify-content: center;

  align-items: center;

  text-align: center;

  background-size: cover; /* Add this line */

  background-position: center center; /* Add this line */

  background-repeat: no-repeat; /* Add this line */

  background-attachment: fixed; /* Add this line */
}

.container,
.content {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 768px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    flex: 3;
    order: 2;
    width: 0%;
  }

  .left-sidebar {
    order: 1;
    flex: 1;
  }
  .right-sidebar {
    flex: 1;
    order: 3;
  }
}

footer {
  text-align: center;

  padding: 50px;
}

#hero h1 {
  font-size: 3em;
}

section h2 {
  font-size: 2.5em;
}

section h3 {
  font-size: 1.5em;
}

header a {
  text-decoration: none;

  color: black;
}
#hero {
  position: relative;
  width: 100vw;
}

#about {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)
  );
}

#contact {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)
  );
}
